* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 22.4vw;
  background-color: #fff;
  z-index: 1;
}
header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 11.73333333vw;
  padding: 0 3.2vw 0 4.8vw;
}
header .top .left {
  width: 16.26666667vw;
  height: 7.46666667vw;
}
header .top .left i {
  font-size: 7.46666667vw;
  color: #fb7299;
}
header .top .right {
  display: flex;
  justify-content: space-between;
  width: 44.26666667vw;
  height: 6.4vw;
}
header .top .right a {
  height: 6.4vw;
}
header .top .right i {
  font-size: 5.33333333vw;
  color: #CCCCCC;
}
.bottom {
  display: flex;
  justify-content: space-between;
  height: 10.4vw;
  border-bottom: 1px solid #eee;
}
.bottom ul {
  display: flex;
  height: 10.4vw;
}
.bottom ul li {
  width: 16vw;
  line-height: 10.4vw;
  padding: 0 4.26666667vw;
}
.bottom ul li:first-child a {
  color: #fb7299;
}
.bottom ul li a {
  display: block;
  width: 7.46666667vw;
  height: 10.4vw;
  font-size: 3.73333333vw;
}
.bottom ul li a:hover {
  border-bottom: 2px solid #fb7299;
}
.more {
  width: 10.66666667vw;
  text-align: center;
  line-height: 10.66666667vw;
  color: #CCCCCC;
}
.video_content {
  display: flex;
  padding: 22.4vw 1.33333333vw 1.33333333vw;
}
.video_content .video_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.video_content .video_list a {
  width: 50%;
  padding: 1.33333333vw;
}
.video_content .video_list a .pic {
  position: relative;
  width: 45.86666667vw;
  height: 25.86666667vw;
}
.video_content .video_list a .pic img {
  width: 100%;
  height: 100%;
}
.video_content .video_list a .pic .count {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.video_content .video_list a .pic .count p {
  font-size: 3.2vw;
}
.video_content .video_list a .pic .count p i {
  vertical-align: middle;
  margin-right: 1.33333333vw;
}
.video_content .video_list a .txt {
  width: 45.86666667vw;
  height: 8.53333333vw;
  font-size: 3.2vw;
  height: fit-content;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin-top: 1.33333333vw;
}
.video_content .video_list a .count {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45.86666667vw;
  height: 9.06666667vw;
  background: rgba(0, 0, 0, 0.3);
  padding: 2.13333333vw;
}
